:root {
  --main-color: #040b16;
  --main-soft-color: #1e242e;
  --secondary-color: #e3a02b;
  --neutral-color: #3c4047;
  --white-color: #f4f5ee;
}

@font-face {
  font-family: 'Ribeye';
  src: url(./src/Ribeye-Regular.woff);
}
@font-face {
  font-family: 'Roboto';
  src: url(./src/Roboto-VariableFont_wdth\,wght.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  height: 20vh;
  width: 100%;
  background-color: var(--main-color);
  color: var(--white-color);
  font-family: 'Ribeye', monospace;
  font-size: 2.5rem;
  text-align: center;
}

#btn-add-book {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border: none;
  background-color: var(--secondary-color);
  position: relative;
  top: 20px;
}

#btn-add-book:hover {
  background-color: hsl(38, 77%, 45%);
}

#btn-add-book:active {
  background-color: var(--secondary-color);
}

main {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow-y: auto;
  background-color: var(--main-soft-color);
}

.book-showroom {
  width: 1200px;
  height: 100%;
  padding: 60px 20px 0 20px;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 440px;
  grid-auto-rows: 440px;
  gap: 20px;
}

.book {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--neutral-color);
  color: var(--white-color);
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.book > p {
  margin-top: 8px;
}

.book > p:nth-child(2) {
  font-weight: bold;
  font-size: 1.2rem;
}

.book > p:nth-child(3) {
  font-style: italic;
}

.book-cover {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.delete-book {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.delete-book:active {
  background-color: var(--main-soft-color);
}

dialog {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  padding: 20px;
  width: min(80%,500px);
  background-color: var(--main-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  margin: auto;
  position: relative;
}

dialog::backdrop {
  background-color: var(--neutral-color);
  opacity: 0.6;
}

dialog > h2 {
  font-family: 'Ribeye', monospace;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
} 

form > div {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

input[type="text"], input[type="number"], input[type="url"], input[type="checkbox"], select {
  height: 30px;
  width: 240px;
}

input[type="range"] {
  --s: 40px; /* control the size*/
  
  --_c: var(--main-soft-color) 50%,var(--secondary-color) 0;
  height: var(--s);
  aspect-ratio: attr(max type(<integer>));
  padding-inline: calc(var(--s)/2);
  box-sizing: border-box;
  mask: 
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path d='M50 5 L79 95 L2 40 L98 40 L21 95 Z'/></svg>") 0/var(--s) var(--_m,);
  appearance: none;
  cursor: pointer;
}
input[type="range" i]::-webkit-slider-thumb{
  width: 1px;
  border-image: 
    conic-gradient(at calc(50% + var(--s)/2),var(--_c))
    fill 0//var(--s) calc(20*var(--s));
  appearance: none;
}
input[type="range"]::-moz-range-thumb {
  width: 1px;
  border-image: 
    conic-gradient(at calc(50% + var(--s)/2),var(--_c))
    fill 0//var(--s) calc(20*var(--s));
  appearance: none;
}
input[type="range"]:focus-visible {
  outline: 2px solid #000;
  outline-offset: -2px;
  --_m:,conic-gradient(from 90deg at 2px 2px,#0000 25%,#000 0) 0 0/calc(100% - 2px) calc(100% - 2px);
}

button[type="submit"] {
  height: 40px;
  width: 200px;
  margin: 10px auto;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  border: none;
}

button[type="submit"]:hover {
  background-color: hsl(38, 77%, 45%);
}

button[type="submit"]:active {
  background-color: var(--secondary-color);
}

button#close-dialog {
  background-color: transparent;
  color: var(--white-color);
  font-size: 1.5rem;
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
}

button#close-dialog:active {
  color: var(--neutral-color);
}